---
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: 'true'
ColumnLimit: '90'
Cpp11BracedListStyle: 'true'
IndentWidth: '4'
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
TabWidth: '4'

...
