__*
sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
externals
extensions
support
build
tests
cmake-buil-debug
.idea
*.o
*.dylib
*.bat
tmp
.DS_Store

.vscode/
tests/
docs/
testserver/node_modules
package-info.json

source/shared/proto/generated/*.cc
source/shared/proto/generated/*.h
